* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #eee; }
  #main > div {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center; }
  .loading div {
    width: 200px;
    height: 200px;
    margin: -100px;
    border-radius: 100px;
    background-color: transparent;
    border: 3px solid #333;
    border-top: 3px solid rgba(51, 51, 51, 0);
    border-bottom: 3px solid rgba(51, 51, 51, 0);
    -webkit-animation: spin 1.2s infinite linear;
    z-index: 10; }
  .loading span {
    position: absolute;
    text-transform: uppercase;
    color: #333;
    width: 100px;
    height: 100px;
    margin: -0.5em -50px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

.weather-app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0;
  color: #fff;
  background-color: #222;
  text-transform: uppercase; }
  @media screen and (min-width: 576px) {
    .weather-app-wrapper {
      overflow: hidden; } }
  @media screen and (min-width: 768px) {
    .weather-app-wrapper {
      width: 768px;
      height: 70vh; } }
  @media screen and (min-width: 992px) {
    .weather-app-wrapper {
      width: 992px; } }

.city-selector {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff; }
  .city-selector input,
  .city-selector button {
    color: #fff;
    border-radius: 2.2em;
    padding: 0.6em;
    font-size: 1.2em; }
  .city-selector input {
    padding-left: 1.2em;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none; }
  .city-selector button {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: inherit;
    cursor: pointer; }
    .city-selector button:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #79bb86; }

.search-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  transition: all 0.2s; }
  .search-city ul {
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    top: 100%;
    list-style: none; }
    .search-city ul li {
      padding: 0.6em;
      padding-left: 1.2em;
      background-color: rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 1.2em; }
      .search-city ul li:nth-child(1) {
        border: none; }
      .search-city ul li:hover {
        background-color: rgba(255, 255, 255, 0.6); }

.search-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #79bb86;
  z-index: 10;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s; }
  .search-menu.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  @media screen and (min-width: 576px) {
    .search-menu {
      position: relative;
      height: 100%;
      width: 100%;
      top: -100%; } }

.city-select-wrapper {
  position: fixed;
  height: 75%;
  width: 100%;
  top: 25%;
  padding: 2.5em; }

.menu-icon {
  position: relative;
  top: 0;
  width: 100%;
  height: 10%; }

.menu {
  width: 28px;
  height: 20px;
  position: relative;
  top: 1.5em;
  left: 1.5em;
  z-index: 1000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .menu span:nth-child(1) {
    top: 0px; }
  .menu span:nth-child(2),
  .menu span:nth-child(3) {
    top: 8px; }
  .menu span:nth-child(4) {
    top: 16px; }
  .menu.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%; }
  .menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .menu.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%; }

.today-weather {
  position: relative;
  height: 70%;
  width: 100%;
  padding: 0 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .today-weather .today-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .today-weather .today-top h2 {
      font-size: 20pt;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center; }
  .today-weather .temp-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .today-weather .temperature {
    font-size: 38pt; }
  .today-weather .description {
    font-size: 14pt; }
  .today-weather img {
    width: 75%; }
  .today-weather .weather-icon {
    max-width: 200px;
    width: 100%; }

.forecast-weather {
  position: relative;
  height: 20%;
  width: 100%;
  padding: 0 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.four-days {
  width: 100%;
  display: flex;
  justify-content: center; }

.daily-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100px; }
  .daily-box svg {
    max-width: 100%;
    height: 50px; }
  .daily-box .temp {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; }
  .daily-box .min {
    color: #777;
    padding-left: 5px; }

h2 {
  font-size: 2.5em; }

.weather-icon svg {
  -webkit-filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.7));
  filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.7)); }
  .weather-icon svg path {
    -webkit-animation: shake 2s infinite cubic-bezier(0.39, 0.58, 0.57, 1);
    transform: translateY(10px); }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0); } }
